streamlit
pandas
pinecone
google-genai
pypdf
qrcode
Pillow
openpyxl
streamlit-authenticator
PyYAML
supabase
beautifulsoup4
lxml
PyYAML
uvicorn
Fastapi
sqlalchemy
psycopg2-binary
pydantic
python-multipart
pdfplumber
python-dotenv
requests